streamlit==1.40.1

numpy>=1.26,<2
opencv-python-headless==4.10.0.84

pandas==2.2.2
pillow==10.4.0

reportlab==4.4.3
pytesseract==0.3.13

transformers==4.46.3

torch>=2.3,<2.6

sentencepiece
accelerate

requests
watchdog
